#header {
    padding: 10px 0 7px;
    width: 100%;
    position: fixed;
}

#header-index {
    padding: 10px 0 7px;
    width: 100%;
}

#main {
    padding-top: 100px;
}

#second-logo {
    height: 40px;
}

.search-setting {
    border-radius: 0;
    width: auto;
}

.loading-mask {
    background: rgba(252, 252, 252, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
}

.loading-index {
    position: absolute;
    background-color: transparent;
    color: transparent;
    text-align: center;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    animation: none;
    z-index: 10000;
    cursor: auto;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-radius: 2px;
}

.loading-index .loading-inner {
    display: inline-block;
    width: auto;
    height: auto;
    background: #7DB6FF;
    border: 2px #7DB6FF solid;
    border-radius: 2px;
    min-height: 20px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    max-width: 300px;
    right: unset;
    bottom: unset;
    margin: unset;
    font-size: 14px;
    line-height: 24px;
}

#second-logo {

}